<div class="page-area">
    <div>
        <h2 class="text-center mt-3">Buy Products</h2>
    </div>
    <div class="alert alert-light border d-flex align-items-center" *ngIf="addedProduct">
        <strong class="text-success">{{addedProduct}}</strong>&nbsp; is Selected and Added to Cart
        <button class="btn btn-success ml-auto">CheckOut</button>
     </div>
    <hr class="mb-3">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img class="card-img-top" src="../../assets/1200px-Square_200x200.svg.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Laptop</h5>
                  <button class="btn btn-success" (click)="onSelectProduct('Laptop')">Select this product</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/1200px-Square_200x200.svg.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TV</h5>
                  <button class="btn btn-success" (click)="onSelectProduct('TV')">Select this product</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/1200px-Square_200x200.svg.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">AC</h5>
                  <button class="btn btn-success" (click)="onSelectProduct('AC')">Select this product</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/1200px-Square_200x200.svg.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mobile</h5>
                  <button class="btn btn-success" (click)="onSelectProduct('Mobile')">Select this product</button>
                </div>
            </div>
        </div>
        <app-child class="w-100" [productSelected]="proSelected" [selectedProduct]="selProduct" (addProduct)="onAddedProduct($event)"></app-child>
    </div>
</div>