<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-md-3">
            <input type="text" class="form-control" #uname placeholder="User Name">
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" (click)="onCreateUser(uname)">Create User</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger" (click)="onDeleteUser(uname)">Delete User</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>User</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; index as i">
                        <td>{{user.name}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="onRemoveUser(i)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>