<div class="container bg-light">

  <header>
    <nav>
      <ul class="nav nav-tabs bg-dark py-3">
        <li class="nav-item"><a class="nav-link font-weight-bold" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/product">Products</a></li>
        <li class="nav-item"><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/contact">Contact Us</a></li>
        <li class="nav-item"><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/contact2">Contact Us - 2</a></li>
        <li class="nav-item"><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/parent">Buy Product</a></li>
        <li class="nav-item"><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/exercise1">Exercise1</a></li>
        <li class="nav-item"><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/manage-products">Manage Products</a></li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>